


.container{
	width: 1100px;
	margin: 0 auto;
	max-width: 100%;
}
.row, .row:after, .row:before{
	display: table;
	width: 100%;
	clear: both;
}
a{
	text-decoration: none;
	display: inline-block;
}
.align-center{
	text-align:center;
}
.offset-2{
	margin-left: calc(100% * 2 / 12);
}
.col-1{
	width:calc(100% * 1 / 12);
}
.col-6{
	width:calc(100% * 6 / 12);
}
.col-8{
	width:calc(100% * 8 / 12);
}
.col-4{
	width:calc(100% * 4 / 12);
}
.col-10{
	width:calc(100% * 10 / 12);
}
.col-12{
	width:calc(100% * 12 / 12);
}
